/* to do: add border radius */

.light-grey {
  background-color: #f8f9f9;
}

#create-question-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

#create-question-container div,
#create-question-container input {
  border-radius: 2px;
}

#create-question-container h2 {
  font-weight: bold;
}

#create-question-form-container {
  margin-top: 50px;
}

#create-question-guidelines-container {
  border: 1px solid black;
  padding: 25px;
  background-color: #d6ecff;
}

#create-question-guidelines-container h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

#create-question-guidelines-container p {
  font-size: 14px;
}

#create-question-guidelines-container h5 {
  margin: 0;
  font-weight: bold;
}

#create-question-guidelines-container ul {
  margin-top: 5px;
  margin-bottom: 0px;
}

#create-question-guidelines-container li {
  font-size: 14px;
}

#form-and-tips-container {
  display: flex;
}

#create-question-form {
  width: 70%;
}

.form-container {
  border: 1px solid black;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px;
}

.form-container label {
  font-weight: bold;
}

.form-container p {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 12px;
}

#tips-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.question-tips {
  display: flex;
  flex-direction: column;
}

#answer-tips-popup.question-tips {
  margin-top: 15px;
  width: 94%;
  background-color: #fff2c1;
  height: fit-content;
}

/* #answer-tips-popup.question-tips.title-tips {
  height: 154px;
} */

.question-tips-header {
  background-color: #fdecaa;
  padding-left: 15px;
  border-bottom: 1px solid black;
}

.question-tips-header h4 {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
}

.question-tips-content {
  background-color: #fff2c1;
  display: flex;
}

.question-tips-pencil {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  padding-top: 16.5px;
}

.question-tips-pencil i {
  font-size: 40px;
}

.question-tips-list {
  padding-left: 16px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.question-tips-content p {
  font-size: 12px;
}

#title-input {
  width: 98%;
  border: 1px solid black;
  padding: 8px;
}

#title-input::placeholder {
  color: black;
}

.list-errors-parent {
  margin: 0;
  height: 15px;
  padding-left: 0;
  padding-top: 5px;
}

.list-errors {
  color: #940006;
  font-size: 12px;
  list-style: none;
}

#post-question-button.ask-question-button {
  margin-top: 0;
  width: 160px;
}

#create-question-button-container {
  display: flex;
}

#post-question-button:disabled {
  background-color: #84a1bd;
}

#post-question-button:disabled:hover {
  cursor: default;
}

#discard-draft-button {
  border: 1px solid #940006;
  background-color: white;
  color: #940006;
  margin-top: 0;
  margin-left: 20px;
}

#discard-draft-button:hover {
  background-color: rgba(255, 192, 203, 0.535);
  cursor: pointer;
}

#tag-input-holder {
  width: 100%;
  display: flex;
}

#new-tag-button {
  width: 12%;
  height: 100%;
  margin-left: 10px;
  font-size: 12px;
  align-self: center;
}

#tag-input {
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  padding: 8px;
}
