#landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9f9;
}

#landing-page-inner-box {
  background-color: #282b2f;
  margin-top: 50px;
  width: 90%;
  height: 500px;
  border-radius: 10px;
  text-align: center;
}

#quote-container {
  display: flex;
  justify-content: center;
  gap: 5%;
}

#landing-page-orange-quote {
  background-color: #fee3cd;
  padding: 25px;
  /* margin-left: 7%; */
  margin-top: 40px;
  width: 400px;
  height: 240px;
  border-radius: 5px 5px 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

#landing-page-orange-quote.blue-quote {
  background-color: #cce9fe;
  border-radius: 5px 5px 5px 0;
}

#orange-quote-polygon {
  background-color: #fee3cd;
  /* border: 1px solid black; */
  height: 50px;
  width: 50px;
  position: relative;

  left: 175px;
  border-radius: 5px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 88% 100%);
}

.orange {
  color: #f2740d;
  font-size: 40px;
}

#orange-quote-polygon.blue-polygon {
  background-color: #cce9fe;
  right: 175px;
  left: -175px;
  clip-path: polygon(0% 0%, 100% 0%, 12% 100%, 0% 100%);
}

.blue {
  color: #27a1fe;
  font-size: 40px;
}

#landing-page-orange-quote h2 {
  font-size: 18px;
  color: #242629;
  font-weight: light;
}

#landing-page-orange-quote p {
  font-size: 12px;
  color: #242629;
}

#landing-page-orange-quote a {
  color: #242629;
  width: 50%;
  cursor: pointer;
}

.orange-button {
  background-color: #f2740d;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.orange-button:hover {
  background-color: #bb5909;
}

.orange-button.blue-button {
  background-color: #0895fe;
}

.orange-button.blue-button:hover {
  background-color: #0064bd;
}

.slogan-quote {
  color: #f8f9f9;
  font-size: 45px;
}

#slogan-container {
  position: relative;
  top: 50px;
}
