#header-container {
  border-bottom: 1px solid black;
  border-top: 3px solid #ad4e01;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: sticky;
  top: 0px;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
}

#logo-container {
  display: flex;
  width: 18%;

}
