.tag-name-card {
  background-color: #deeffc;
  border: 1px solid #0a2e47;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-name-card a {
  color: #0a2e47;
  font-size: 12px;
}

.tag-name-card a:hover {
  text-decoration: none;
}
