#content-container {
  display: flex;
  height: 100%;
}

#left-column {
  width: 18%;
  border-right: 1px solid black;
  /* position: fixed; */
  /* height: fit-content; */
  display: flex;
  justify-content: flex-end;
}

#content-column {
  width: 75%;
}
