.questioncard-container {
  border-bottom: 1px solid black;
  display: flex;
  height: fit-content;
  max-width: 100%;
  word-break: break-all;
  padding: 13px;
}

.metadata-container {
  width: 130px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-end;
}

.num-answers.score p {
  color: black;
  font-weight: bold;
  margin: 0;
}

.black {
  color: black;
}


.num-answers p {
  font-size: 13px;
  margin: 0;
  color: #3b4044;
}

.maindata-container {
  width: 100%;
  padding-left: 16px;
}

.info-container {

  max-width: 100%;
}

.info-container a {
  color: black;
  font-size: 16px;
  padding: 0;
  margin-bottom: 0;
}

.body-container p {
  font-size: 12px;
  height: 20px;
  margin-top: 5px;
}

.body-container {
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
}

.summary-container {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 10px;
  margin-bottom: 25px;
}

.tag-container {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}

.second-line-summary-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.user-data {
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
}

.user-data a {
  color: black;
}

.user-data div {
  padding-right: 5px;
}

.questioncard-author-name {
  word-break: break-all;
  max-width: 40%;
}

.questioncard-asked-time {
  display: flex;
  justify-content: flex-end;
}
