#tag-dropdown-parent {
  width: 50%;
}

#tag-holder {
  border: 1px solid black;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 59%;
}

#tag-dropdown {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 2%;
}
