.answer-card-container {
  width: 100%;
  display: flex;
  padding-bottom: 28px;
  padding-top: 28px;
}

.answer-vote-hover {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

}

.answer-card-holder {
  width: 88%;
}

.answer-content-container {
  display: flex;
  flex-direction: column;

}

.answercard-bottom-container {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}

.answercard-userinfo-holder {
  display: flex;
  justify-content: flex-end;
}

.answer-bottom-border-div {
  height: 0;
  width: 100%;
  border-bottom: 1px solid black;
}
