#all-questions-header {
  padding-left: 20px;
  border-bottom: 1px solid black;
}

#all-questions-header-upper {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

#all-questions-header-lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-holder {

}

.ask-question-button {
  height: 38px;
  width: 103px;
  margin-top: 18px;
  background-color: #004880;
  color: white;
  border: transparent;
  text-decoration: none;
  border-radius: 3px;
}

#content-column-two {
  width: 75%;
}
